<% layout('layouts/boilerplate') %>

<div class="row mb-5 align-content-center">
    <div class="col-6">
        <div class="card" style="width: 39.73rem;">
            <img class="rounded" src="<%=camp.image%>" alt="image">
            <div class="card-body">
              <h2 class="card-title"><%=camp.title %></h2>
              <p class="card-text"><%=camp.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h6 class="d-inline">Location:</h6> <%=camp.location %></li>
              <li class="list-group-item"><h6 class="d-inline">Price:</h6> <%= camp.price%>$/night</li>
            </ul>
            <div class="card-body">
                <footer>
                    <a class="btn btn-warning" href="/campgrounds/<%=camp._id %>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </footer>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
          </div>
    </div>
    <div class="col-6">
        <h2>Lave a review</h2>
          <form action="/campgrounds/<%=camp._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb">
                <label class="form-label" for="raiting">Raiting</label>
                <input type="range" class="form-range" min="1" max="5" name="review[raiting]" id="raiting">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review:</label>
                <textarea class="form-control" name="review[body]" id="body" required rows="5"></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please laeve a review.
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>
        <% for (let review of camp.reviews) {%>
            <div class="card mb-3">
                <div class="mb-3 card-body">
                    <h2 class="card-title">Raiting: <%= review.raiting %></h2>
                    <p class="card-text">Rewiew: <%= review.body %></p>
                    <form action="/campgrounds/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</div>


